.container {
    display: grid;
    grid-template-columns: 150px 800px 300px;
}
.menu {
    padding-left: 100px;
    padding-top: 100px;
}
.menu h3 {
    margin-left: 15px;
}
.logo {
    padding-left: 150px;
}
.user {
    padding-left: 280px;
    padding-top: 120px;
}